*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background: #fafafa;
}

.img{

    display: block;
    width: 600px;
    margin: 30px auto;
    /* box-shadow: 5px 7px 20px #CB2A2A; */
    box-shadow: 10px 20px 20px -14px #516695;


}

.box{
    width: 100px;
    height: 100px;
    background: #516695;
    margin: 30px;
    /*box-shadow: h-oofset v-offset blur spread color;  */

    /* box-shadow: 100px 100px 0 0 crimson, 100px 0 blue, 0 100px yellow; */

    box-shadow: 3px 5px 15px #b164c3;

}