*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;
    height: 200px;
    background: orangered;
    margin: 0 auto;
    margin-top: 40px;

    /* border: 10px dashed brown;
    border-width: 20px;
    border-style: groove dashed;
    border-color: brown steelblue; */

    /* border-top: 10px solid brown ;
    border-right: 5px dashed white ;
    border-left: 18px double black;
    border-bottom: 6px dotted steelblue; */

    border-top-width: 25px;
    border-top-style: dotted;
    border-top-color: greenyellow;

    border-right-width: 15px;
    border-right-style: groove;
    border-right-color: hotpink;

    border-bottom-width: 30px;
    border-bottom-style: dashed;
    border-bottom-color: purple;

    border-left-width: 20px;
    border-left-style: double;
    border-left-color: black;

}

.img{
    display: block;
    width: 600px;
    height: 600px;
    margin: 80px auto;
    object-fit: cover;
    border: 20px solid greenyellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

